* {
    margin: 0;
    padding: 0;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: black;   
}
.madera {
    background-image: url(/images/crema.jpg);
    
}
.togo {
        position: fixed;     
        top: 72px;
        right: 20px;
        z-index: 100;
    }
.cantidad {
        position: fixed;     
        color: darkslategrey;
        font-size: larger;
        top: 72px;
        right: 20px;
        z-index: 100;
    }

.header {
        width: 100%;
        height: 60px;
        background-color: darkslategrey;
        margin-top: 0px;
        padding-top: 0;

}